.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.signup-form {
    display: flex;
    flex-direction: column;
}
  
.signup-form label {
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}
  
.signup-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}
  
.signup-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
  