.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd60a;
    padding: 20px;
    border-radius: 15px;
    
}

#btn{
    font-size: 20px;
    padding: 5px 8px;
    margin: 5px;
    background-color: #000814;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#para{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}